.cards__container {
    background-color: $secondary-color;
    display: flex;
    justify-content: center;
    overflow-x: auto;
    flex-wrap: wrap;
    
    .cards__element {
        display: flex;
        flex-wrap: wrap;
        margin: 1.4rem;
        flex-direction: column !important;
        border-radius: 16px;
        border: 1px solid $primary-color;
        background-color: $primary-color;
        box-shadow: 2px 3px 25px 5px #192226;
        @extend %flex-center;
        &:hover {
          cursor: pointer !important;
        }
      
        h2 {
          font-size: 1rem !important;
          font-weight: bold;
          text-align: center;
          text-transform: uppercase;
        }
        
        img {
          text-align: center;
          margin: $margin-cards;
          height: 8.5vw;
          width: 8.5vw;
          filter: drop-shadow(10px 7px 10px $primary-color);
        }

        p, span {
          box-sizing: content-box;
          font-weight: 800;
          margin: $margin-cards;
          width: 200px;
          text-align: center;
        }

        span {
          color: $precio-color;
        }

        button {
          text-transform: uppercase;
          padding: 0.5rem;
          background-color: rgb(103, 161, 173);
          border-radius: 10px;
          color: black;
          text-decoration: none;
        }
    }

    .cards__element2 {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin: 0.4rem;
      border-radius: 16px;
      @extend %flex-center;

      button {
        font-weight: 900;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
}