.counter__container {
    display: flex;
    margin: 0.7rem;
    flex-direction: row;
    align-items: center;
    p {
        text-align: center;
        font-weight: 900;
        margin: 0rem 0.4rem !important;
    }
    .counter__count-text {
        width: 80px !important;
        font-weight: bold;
        text-align: center;
    }
    .counter__btn {
        background-color: $success-color !important;
        height: 2rem;
        width: 2rem;
        vertical-align: -0.125em;
        border-radius: 0.1rem !important;
        &:hover {
            cursor: pointer;
            scale: (1.2);
        }
    }
}