.modal__overlay {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.248);
    display: flex;
    height: 100vh;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0 !important;
    transition: none;
    width: 100vw !important;
    z-index: 1000;
    .modal__container {
        background-image: url(https://www.xtrafondos.com/wallpapers/patron-de-conejo-arte-7865.jpg);
        opacity: 19;
        border-radius: 0.9rem;
        height: 25rem;
        padding: 0rem 0.5rem;
        transition: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: 2px 3px 25px 5px #192226;
        justify-content: start;
        overflow-y: auto;
        width: 55rem;
        margin-left: 1rem;
        margin-right: 1rem;
        &:hover {
            transition: none;
        }
        .modal__header {
            display: flex;
            justify-content: end;
            width: 100%;
            .modal__close {
                background-color: $success-color;
                border: none;
                border-radius: 3.5rem;
                color: white;
                justify-self: end;
                padding: 0.3rem;
                margin: 1rem;
                &:hover {
                    cursor: pointer;
                    scale: (1.2);
                }
            }
        }
        .modal__footer {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            .modal__btn-buy {
                background-color: #ee3622;
                border: none;
                border-radius: 0.25rem;
                color: whitesmoke;
                font-weight: 900;
                text-transform: uppercase;
                margin: 1rem;
                border: 1px solid red;
                padding: 0.5rem;
                &:hover {
                    cursor: pointer;
                    scale: (1.2);
                }
            }
        }
        .cart-item__container {
            display: flex;
            flex-direction: row;
            align-items: center;
            border-bottom: 1px solid black;
            padding-bottom: 0.5rem;
            padding-top: 0.36rem;
            justify-content: space-between;
            width: 100%;
            height: 22vh;
            img {
                width: 70px;
                height: 70px;
                margin-bottom: 0.6rem;
            }
            h2, p {
                margin-left: 0.5rem;
                margin-right: 0.5rem;
                text-transform: uppercase;
            }
        }
        &:focus {
            outline: none;
        }
        &:hover {
            transition: none;
        }
    }
}