.form_container_high {
    @extend %flex-center;
    background-image: url(../../imagenes/section.jpg);
    background-position: 75% 100% ;
    background-repeat: no-repeat;
    margin-top: 80px;
    background-size: cover;
    flex-direction: column;
  
    h2 {
      @extend %title-style;
      border-bottom: 1px solid black;
      text-align: center;
      padding: 2rem 0 1rem 0;
    }
  
    fieldset {
      background-color: #f5fafdc7 !important;;
      box-shadow: $box-primary;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 1rem 13rem;
      padding: 1rem;
      width: 65%;

      legend {
        font-size: 1.2rem;
        background-color: rgb(183, 192, 197);
        font-weight: bold;
        font-family: "Indie Flower", cursive;
        letter-spacing: 0.2rem;
        padding: 0.5rem;
        text-transform: uppercase;
      }
  
      label {
        font-weight: bold;
        font-family: "Indie Flower", cursive;
        margin-top: 0.6rem;
        letter-spacing: 0.2rem;
        width: 80%;
        padding: 0.5rem;
      }

      .form-control[aria-invalid="true"] {
        outline: 2px solid rgb(182, 17, 17);
    }
  
      textarea {
        height: 40px;
      }

      .input-group__input {
        background-color: #f5fafd00 !important;;
        border: none;
        font-family: "Indie Flower", cursive;
        letter-spacing: 0.15rem;
        font-weight: 900;
        padding: 0.5rem;
        border-bottom: 1px solid black !important;
      }
  
      .div_container {
        display: flex;
        input {
          border: 50%;
        }
      } 
    }
  
    .button_container {
      @extend %flex-center;
      text-align: center !important;
      margin: 0rem 0px 3rem 0px;
      width: 98%;
  
      button {
        background-color: $primary-color;
        font-weight: bold;
        padding: 0.5rem;
        text-transform: uppercase;
      }
    }
  }
  